<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig
    mustMatch="true"
    logFile="proxy_log_xml.log"
    allowedReferers="localhost:41471/goelectric.html,https://alyshav.com/app/goelectric.html">

  <serverUrls>
    <serverUrl
      url="geoenrich.arcgis.com"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="7wpIEO8HyujacVYN"
      clientSecret="19fbbb35073c4e94a9cd819220882577"
      rateLimit="120"
      rateLimitPeriod="60"
      matchAll="true"/>

    <serverUrl
      url="route.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="7wpIEO8HyujacVYN"
      clientSecret="19fbbb35073c4e94a9cd819220882577"
      rateLimit="120"
      rateLimitPeriod="60"/>

    <serverUrl
      url="geometryservice.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="7wpIEO8HyujacVYN"
      clientSecret="19fbbb35073c4e94a9cd819220882577"
      rateLimit="120"
      rateLimitPeriod="60"/>

    <serverUrl
      url="lengthsparameters.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="7wpIEO8HyujacVYN"
      clientSecret="19fbbb35073c4e94a9cd819220882577"
      rateLimit="120"
      rateLimitPeriod="60"/>

    <serverUrl
      url="serviceareatask.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="7wpIEO8HyujacVYN"
      clientSecret="19fbbb35073c4e94a9cd819220882577"
      rateLimit="120"
      rateLimitPeriod="60"/>

    <serverUrl
      url="https://utility.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="7wpIEO8HyujacVYN"
      clientSecret="19fbbb35073c4e94a9cd819220882577"
      rateLimit="120"
      rateLimitPeriod="60"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
