<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig
    mustMatch="true"
    logFile="proxy_log_xml.log"
    allowedReferers="http://localhost:41471/goelectric.html">

  <serverUrls>
    <serverUrl
      url="geoenrich.arcgis.com"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="jAuQBkV0S73tHrgD"
      clientSecret="573a1610efdc4cd9bcb42da9ef4d3121"
      rateLimit="120"
      rateLimitPeriod="60"
      matchAll="true"/>

    <serverUrl
      url="route.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="jAuQBkV0S73tHrgD"
      clientSecret="573a1610efdc4cd9bcb42da9ef4d3121"
      rateLimit="120"
      rateLimitPeriod="60"/>

    <serverUrl
      url="geometryservice.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="jAuQBkV0S73tHrgD"
      clientSecret="573a1610efdc4cd9bcb42da9ef4d3121"
      rateLimit="120"
      rateLimitPeriod="60"/>

    <serverUrl
      url="lengthsparameters.arcgis.com"
      matchAll="true"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="jAuQBkV0S73tHrgD"
      clientSecret="573a1610efdc4cd9bcb42da9ef4d3121"
      rateLimit="120"
      rateLimitPeriod="60"/>

  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
